*.o
*.lo
*.la
Makefile
stamp-h1
trialdivtab.h
config.h
config.log
config.m4
config.status
fac_table.h
fib_table.h
gen-bases
gen-fac
gen-fib
gen-jacobitab
gen-psqr
gen-trialdivtab
gmp-mparam.h
gmp.h
libtool
mp_bases.h
build-sgx
build-ntv
